.card-option{
    height: 26.87rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gabarito', sans-serif;
    color: white;
    filter: grayscale(100%);
    background-size: cover;
    background-position: center;
    background-clip: border-box;
}

.gabarito{
    font-family: 'Gabarito', sans-serif;
}

.card-option:hover, .selected{
    filter: grayscale(0%);
    transition: 0.5s;
}

.preco-item{
    background-color: lightgrey;
}

.icon-list{
    font-size: 2.5rem !important;
    background-color: lightgrey;
    padding: 0.4rem;
    border-radius: 50%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.categoria-a{
    background-image: url('images/cat-a.jpg');
}

.categoria-b{
    background-image: url('images/cat-b.jpg');
}

.categoria-c{
    background-image: url('images/cat-c.jpg');
}

.categoria-d{
    background-image: url('images/cat-d.jpg');
}

.item-list {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.item-list.show {
    opacity: 1;
    transform: translateX(0);
}

.btn-simnao{
    background-color: transparent;
    border: .3rem solid;
    border-radius: .8rem;
}

.btn-simnao:hover, .selected-simnao{
    background-color: black;
    color: white;
}